@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Exercise 2: Datebase Query");



    var db = Database.Open("CHINOOK");
    
    string artistid = "";
    string artistname = "";


    var cid = Request.QueryString["cid"];
    if (string.IsNullOrEmpty(cid))
    {
        Response.Redirect("Exercise02A.cshtml");
    }
    string sqlcommand1 = "SELECT ArtistId, Name FROM Artists WHERE Name LIKE @0 ORDER BY Name";
    var partialstring = "%" + cid + "%";
    var results = db.Query(sqlcommand1, partialstring);

    var sqlquery = @"SELECT ArtistId, Name
    FROM Artists

    ORDER BY Name ";
    var catinfo = db.Query(sqlcommand1, partialstring);

    List<SelectListItem> items1 = new List<SelectListItem>();
    foreach (var i in catinfo)
    {
        items1.Add(new SelectListItem
        {
            Value = i.ArtistId.ToString(),
            Text = i.Name
        });
    }

    var items2 = catinfo.Select(i => new SelectListItem
    {
        Value = i.ArtistId.ToString(),
        Text = i.Name
    });



}


@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    //obtain my data from the form
    var choice = Request.Form["CategoryList"];

    //check for a selection
    if (choice.Equals("0"))
    {
        <p style="color:firebrick">Select a Artist to view:</p>
    }
    else
    {
        var prodquery = @"SELECT AlbumId
    FROM Albums
    WHERE ArtistId like  @0";
        var prodinfo = db.Query(prodquery, choice);
        //      check to see if there are products for category
        if (prodinfo.Count() == 0)
        {
            <p style="color:firebrick">There are no Artist with that name.</p>
        }
        else
        {
            
            Response.Redirect("ExerciseWebgrid.cshtml?cid=" + choice);
        }
    }
}
else
{
  
    if (catinfo.Count() == 0)
    {
        <p style="color:firebrick">There are no artists on file.</p>
    }
}

<form id="theform" method="post">
    <div class="offset-3">
        <label id="lblCategoryList" for="CategoryList">Select Artist to view:</label>
        &nbsp;&nbsp;
        <select id="CategoryList" name="CategoryList">
            <option value="0">select ....</option>
            @foreach (var item in catinfo)
            {
                
                <option value="@item.ArtistId">@item.Name</option>
            }
        </select>
        &nbsp;&nbsp;
        @*@Html.DropDownList("CategoryId", items1)
            @Html.DropDownList("CategoryId", items2)*@

        <button type="submit" id="theButton" name="theButton" value="submit"
                class="btn btn-primary">
            View artists ...
        </button>
    </div>
</form>

